tests/fixtures/dsl/agent-tool-workflow.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: agent-tool-workflow
  description: ""
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables:
            - variable: query
              label: query
              type: text-input
              required: true
      - id: agent_node
        type: custom
        data:
          title: Agent
          type: agent
          tool_node_version: "2"
          agent_strategy_provider_name: builtin
          agent_strategy_name: react
          agent_strategy_label: ReAct
          agent_parameters: {}
      - id: end_node
        type: custom
        data:
          title: End
          type: end
          outputs:
            - variable: answer
              value_type: string
              value_selector: [agent_node, text]
    edges:
      - id: start-to-agent
        source: start_node
        sourceHandle: source
        target: agent_node
        targetHandle: target
      - id: agent-to-end
        source: agent_node
        sourceHandle: source
        target: end_node
        targetHandle: target
