tests/fixtures/dsl/branching-if-else-workflow.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: branching-if-else-workflow
  description: ""
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables:
            - variable: query
              label: query
              type: text-input
              required: true
      - id: if_node
        type: custom
        data:
          title: IF/ELSE
          type: if-else
          cases:
            - case_id: "true"
              logical_operator: and
              conditions:
                - variable_selector: [start_node, query]
                  comparison_operator: contains
                  value: hello
                  varType: string
      - id: end_true
        type: custom
        data:
          title: End True
          type: end
          outputs:
            - variable: route
              value_type: string
              value_selector: [start_node, query]
      - id: end_false
        type: custom
        data:
          title: End False
          type: end
          outputs:
            - variable: route
              value_type: string
              value_selector: [start_node, query]
    edges:
      - id: start-to-if
        source: start_node
        sourceHandle: source
        target: if_node
        targetHandle: target
      - id: if-true-to-end
        source: if_node
        sourceHandle: "true"
        target: end_true
        targetHandle: target
      - id: if-false-to-end
        source: if_node
        sourceHandle: "false"
        target: end_false
        targetHandle: target
