tests/fixtures/dsl/broken-human-input-duplicate-actions.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: broken-human-input-duplicate-actions
  description: ""
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables:
            - variable: request_id
              label: request_id
              type: text-input
              required: true
      - id: human_node
        type: custom
        data:
          title: Human Input
          type: human-input
          delivery_methods:
            - type: webapp
              enabled: true
              config: {}
          form_content: "请审批该请求"
          inputs:
            - type: text-input
              output_variable_name: comment
            - type: paragraph
              output_variable_name: comment
          user_actions:
            - id: approve
              title: 通过
            - id: approve
              title: 再次通过
          timeout: 36
          timeout_unit: hour
      - id: end_node
        type: custom
        data:
          title: End
          type: end
          outputs:
            - variable: comment
              value_type: string
              value_selector: [human_node, comment]
    edges:
      - id: start-to-human
        source: start_node
        sourceHandle: source
        target: human_node
        targetHandle: target
      - id: human-to-end
        source: human_node
        sourceHandle: approve
        target: end_node
        targetHandle: target
