tests/fixtures/dsl/knowledge-retrieval-chatflow.yml
kind: app
version: 0.6.0
app:
  mode: advanced-chat
  name: knowledge-retrieval-chatflow
  description: ""
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables: []
      - id: retrieval_node
        type: custom
        data:
          title: Knowledge Retrieval
          type: knowledge-retrieval
          query_variable_selector: [sys, query]
          dataset_ids:
            - dataset_1
          retrieval_mode: multiple
          multiple_retrieval_config:
            top_k: 3
            score_threshold: 0.5
            score_threshold_enabled: false
      - id: llm_node
        type: custom
        data:
          title: LLM
          type: llm
          model:
            provider: example
            name: chat-model
            mode: chat
          prompt_template:
            - role: system
              text: "根据检索内容回答用户。"
          context:
            enabled: true
            variable_selector:
              - [retrieval_node, result]
      - id: answer_node
        type: custom
        data:
          title: Answer
          type: answer
          answer: "{{#llm_node.text#}}"
    edges:
      - id: start-to-retrieval
        source: start_node
        sourceHandle: source
        target: retrieval_node
        targetHandle: target
      - id: retrieval-to-llm
        source: retrieval_node
        sourceHandle: source
        target: llm_node
        targetHandle: target
      - id: llm-to-answer
        source: llm_node
        sourceHandle: source
        target: answer_node
        targetHandle: target
