tests/fixtures/dsl/min-workflow.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: min-workflow
  description: ""
  icon: "🤖"
  icon_background: "#FFEAD5"
  use_icon_as_answer_icon: false
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables:
            - variable: query
              label: query
              type: text-input
              required: true
      - id: code_node
        type: custom
        data:
          title: Code
          type: code
          code_language: python3
          code: "def main(query):\n    return {'answer': query}\n"
          outputs:
            answer:
              type: string
      - id: end_node
        type: custom
        data:
          title: End
          type: end
          outputs:
            - variable: answer
              value_type: string
              value_selector: [code_node, answer]
    edges:
      - id: start-to-code
        source: start_node
        sourceHandle: source
        target: code_node
        targetHandle: target
      - id: code-to-end
        source: code_node
        sourceHandle: source
        target: end_node
        targetHandle: target
