tests/fixtures/dsl/parameter-extractor-routing-workflow.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: parameter-extractor-routing-workflow
  description: ""
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables:
            - variable: query
              label: query
              type: text-input
              required: true
      - id: extractor_node
        type: custom
        data:
          title: Parameter Extractor
          type: parameter-extractor
          model:
            provider: example
            name: extractor-model
            mode: chat
            completion_params: {}
          query: [start_node, query]
          reasoning_mode: function_call
          parameters:
            - name: city
              type: string
              description: 城市名
              required: true
            - name: budget
              type: number
              description: 预算
              required: true
      - id: end_node
        type: custom
        data:
          title: End
          type: end
          outputs:
            - variable: city
              value_type: string
              value_selector: [extractor_node, city]
            - variable: budget
              value_type: number
              value_selector: [extractor_node, budget]
    edges:
      - id: start-to-extractor
        source: start_node
        sourceHandle: source
        target: extractor_node
        targetHandle: target
      - id: extractor-to-end
        source: extractor_node
        sourceHandle: source
        target: end_node
        targetHandle: target
