tests/fixtures/dsl/question-classifier-routing-workflow.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: question-classifier-routing-workflow
  description: ""
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables:
            - variable: query
              label: query
              type: text-input
              required: true
      - id: classifier_node
        type: custom
        data:
          title: Question Classifier
          type: question-classifier
          query_variable_selector: [start_node, query]
          model:
            provider: example
            name: classifier-model
            mode: chat
            completion_params: {}
          instruction: "根据用户问题路由到最合适的类别。"
          classes:
            - id: sales
              name: 销售
            - id: support
              name: 客服
      - id: end_sales
        type: custom
        data:
          title: End Sales
          type: end
          outputs:
            - variable: routed_query
              value_type: string
              value_selector: [start_node, query]
      - id: end_support
        type: custom
        data:
          title: End Support
          type: end
          outputs:
            - variable: routed_query
              value_type: string
              value_selector: [start_node, query]
    edges:
      - id: start-to-classifier
        source: start_node
        sourceHandle: source
        target: classifier_node
        targetHandle: target
      - id: classifier-sales-to-end
        source: classifier_node
        sourceHandle: sales
        target: end_sales
        targetHandle: target
      - id: classifier-support-to-end
        source: classifier_node
        sourceHandle: support
        target: end_support
        targetHandle: target
