tests/fixtures/dsl/template-http-workflow.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: template-http-workflow
  description: ""
  icon: "bot"
  icon_background: "#FFEAD5"
  use_icon_as_answer_icon: false
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables:
            - variable: url
              label: url
              type: text-input
              required: true
      - id: http_node
        type: custom
        data:
          title: HTTP Request
          type: http-request
          method: GET
          url: "{{#start_node.url#}}"
          authorization:
            type: no-auth
          headers: ""
          params: ""
          body:
            type: none
            data: []
      - id: tool_node
        type: custom
        data:
          title: Tool
          type: tool
          provider_id: builtin
          provider_type: builtin
          provider_name: Builtin Tools
          tool_name: json_parse
          tool_label: JSON Parse
          tool_configurations: {}
          tool_parameters:
            json_string:
              type: mixed
              value: "{{#http_node.body#}}"
      - id: end_node
        type: custom
        data:
          title: End
          type: end
          outputs:
            - variable: status_code
              value_type: number
              value_selector: [http_node, status_code]
            - variable: parsed_data
              value_type: object
              value_selector: [tool_node, result]
    edges:
      - id: start-to-http
        source: start_node
        sourceHandle: source
        target: http_node
        targetHandle: target
      - id: http-to-tool
        source: http_node
        sourceHandle: source
        target: tool_node
        targetHandle: target
      - id: tool-to-end
        source: tool_node
        sourceHandle: source
        target: end_node
        targetHandle: target
