tests/fixtures/dsl/trigger-webhook-code-workflow.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: trigger-webhook-code-workflow
  description: ""
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: trigger_node
        type: custom
        data:
          title: Trigger Webhook
          type: trigger-webhook
          method: post
          content_type: application/json
          headers: []
          params: []
          body:
            - name: payload
              type: object
              required: true
          status_code: 200
          response_body: "{\"ok\": true}"
      - id: code_node
        type: custom
        data:
          title: Code
          type: code
          code_language: python3
          code: |
            def main(payload):
                return {"accepted": True}
          outputs:
            accepted:
              type: boolean
      - id: end_node
        type: custom
        data:
          title: End
          type: end
          outputs:
            - variable: accepted
              value_type: boolean
              value_selector: [code_node, accepted]
    edges:
      - id: trigger-to-code
        source: trigger_node
        sourceHandle: source
        target: code_node
        targetHandle: target
      - id: code-to-end
        source: code_node
        sourceHandle: source
        target: end_node
        targetHandle: target
