tests/fixtures/dsl/variable-aggregator-fallback-workflow.yml
kind: app
version: 0.6.0
app:
  mode: workflow
  name: variable-aggregator-fallback-workflow
  description: ""
dependencies: []
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_node
        type: custom
        data:
          title: Start
          type: start
          variables:
            - variable: query
              label: query
              type: text-input
              required: true
      - id: code_primary
        type: custom
        data:
          title: Code Primary
          type: code
          code_language: python3
          code: |
            def main(query):
                return {"primary": query}
          outputs:
            primary:
              type: string
      - id: code_backup
        type: custom
        data:
          title: Code Backup
          type: code
          code_language: python3
          code: |
            def main():
                return {"backup": "fallback"}
          outputs:
            backup:
              type: string
      - id: aggregator_node
        type: custom
        data:
          title: Variable Aggregator
          type: variable-aggregator
          output_type: string
          variables:
            - [code_primary, primary]
            - [code_backup, backup]
      - id: end_node
        type: custom
        data:
          title: End
          type: end
          outputs:
            - variable: answer
              value_type: string
              value_selector: [aggregator_node, output]
    edges:
      - id: start-to-primary
        source: start_node
        sourceHandle: source
        target: code_primary
        targetHandle: target
      - id: start-to-backup
        source: start_node
        sourceHandle: source
        target: code_backup
        targetHandle: target
      - id: primary-to-aggregator
        source: code_primary
        sourceHandle: source
        target: aggregator_node
        targetHandle: target
      - id: backup-to-aggregator
        source: code_backup
        sourceHandle: source
        target: aggregator_node
        targetHandle: target
      - id: aggregator-to-end
        source: aggregator_node
        sourceHandle: source
        target: end_node
        targetHandle: target
